
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}"><img src="/img/home/logo.png" alt="logo" class="logo logoHeader"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if app.user %}
                <li class="nav-item mr-auto">
                    <a class="nav-link text-white headerLinks" href="{{ path("profile") }}">Profil</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white headerLinks" href="{{ path('register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white headerLinks" href="{{ path('app_login') }}">Connexion</a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white headerLinks" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gestions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('films_admin') }}">Gestion des films</a>
                        <a class="dropdown-item" href="{{ path('users_admin') }}">Gestion des utilisateurs</a>
                        <a class="dropdown-item" href="{{ path('admin_add_film') }}">Ajouter un film</a>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-white headerLinks" href="{{ path('films_admin') }}">Gestion des films</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white headerLinks" href="{{ path('users_admin') }}">Gestion des utilisateurs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white headerLinks" href="{{ path('admin_add_film') }}">Ajouter un film</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link float-right text-white headerLinks" href="{{ path("app_logout") }}">Déconnexion</a>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>
<!-- Navbar -->