<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0 headerLinks" href="{{ path('home') }}"><img src="/img/home/logo.png" alt="logo" class="logo logoHeader"/></a>
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if app.user %}
                <li class="nav-item">
					<a href="{{ path("profile") }}" class="nav-link text-white headerLinks">Profil</a>
				</li>
                <li class="nav-item">
					<a href="{{ path("app_logout") }}" class="nav-link text-white headerLinks">Déconnexion</a>
				</li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white headerLinks" href="{{ path('register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white headerLinks" href="{{ path('app_login') }}">Connexion</a>
                </li>
            {% endif %}

            </ul>
        </div>
        <!-- Right elements -->

    </div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->
