{% extends 'base.html.twig' %}

{% block title %}Catalogue | Filmothèque{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalogue') }}
{% endblock %} 

{% block body %}
    {% include "./components/_second_nav.html.twig" %}

    {# Search bar #}
    <div class="mask d-flex justify-content-center align-items-center searchBar">
        <form method="POST" class="searchMyFilm">
            <div id="search-autocomplete" class="form-outline">
                <input type="search" id="form1" class="form-control" name="search" placeholder="Rechercher" />
            </div>

            <select name="select">
                <option selected>Genres :</option>
                {% for genre in genres %}
                    <option value="{{genre.name}}">{{genre.name}}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-dark searchBtn">
                <i class="fas fa-search"></i>
            </button>

        </form>
    </div>
    {# Search bar #}
    
    {# Section qui va contenir les films #}    
    <section class="d-flex">

        {# Conteneur des cards #}
        <div class="containers">
            {# Cards des films #}
            {% for film in films %}
                <div class="film">
                    <a href="{{path('show_one_film', {'id': film.id})}}" class="item">
                        <div class="img">
                            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/{{film.pictures}}"/>
                            <div class="align">
                                <h2>{{film.title}}</h2>
                                <i class="fas fa-eye"></i>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {# Fin Cards des films #}
        </div>
        {# Fin Conteneur des cards #}

    </section>



    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('catalogue') }}
    {% endblock %}
{% endblock %}
